wsdl/lib.iita.gov.ua/SearchServ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eprints.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="searchEprint" targetNamespace="http://eprints.org/wsdl/">
	<types>
		<schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ep="http://eprints.org/wsdl/" targetNamespace="http://eprints.org/wsdl/">
			<simpleType name="AllowEprints">
				<restriction base="xsd:string">
					<enumeration value="archive"/>
					<enumeration value="ebox"/>
				</restriction>
			</simpleType>
			<complexType name="creators">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ArrayofID">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="TypeOfEprints">
				<attribute name="value" type="tns:AllowEprints" use="optional" default="archive"/>
			</complexType>
			<complexType name="ArrayOfstring">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ListOfID">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="integer[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="searchEprintRequest">
		<part name="key" type="xsd:string"/>
		<part name="fields" type="tns:ArrayOfstring"/>
		<part name="date_range" type="xsd:string"/>
		<part name="order" type="xsd:string"/>
		<part name="typeIo" type="xsd:string"/>
	</message>
	<message name="searchEprintResponse">
		<part name="id" type="tns:ListOfID"/>
	</message>
	<message name="NewMessage"/>
	<portType name="Eprints_PortType">
		<operation name="searchEprint">
			<input message="tns:searchEprintRequest"/>
			<output message="tns:searchEprintResponse"/>
		</operation>
	</portType>
	<binding name="Eprints_Binding" type="tns:Eprints_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="searchEprint">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SearchServ"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:SearchServ"/>
			</output>
		</operation>
	</binding>
	<service name="Eprints_Service">
		<port name="Eprints_Port" binding="tns:Eprints_Binding">
			<soap:address location="http://lib.iitta.gov.ua/cgi/soap/SearchServ2.cgi"/>
		</port>
	</service>
</definitions>
